body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

a i{
    transition: color .3s;
}

a i.fa{
    font-size : 1.5em
}

a i:hover{
    color: #6ad500
}

td.actions{
    width: 6em
}