<div>
    <h1 class="pull-left">
        Our Gifts
    </h1>
    <div class="row">
        <a href="#!/cart" style="font-size: 2.5em" class="pull-right">
            <i class="fa fa-shopping-cart"></i>
            <span id="totalQty">{{totalQty}}</span>
        </a>
    </div>
    <div class="row">
        <button class="btn btn-default pull-right" ng-click="clearSelectedProducts()">Clear</button>
    </div>
    <table st-table="productsView" st-safe-src="products" 
        class="table table-hover table-striped">
        <thead>
            <tr>
                <th st-sort="name">Product</th>
                <th st-sort="price" style="width:8em">Price</th>
            </tr>
			<tr>
                <th colspan="4"><input st-search="" class="form-control" 
                    placeholder="global search ..." type="text"/></th>
			</tr>
        </thead>
        <tbody>
            <tr ng-repeat="prod in productsView">
                <td>{{prod.name}}</td>
                <td>${{prod.price | number:2}}</td>
                <td class="actions">
                    <a href="#">
                        <i class="fa fa-cart-plus" ng-click="openModalProductDetails(prod.productID)"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Modal to show selected product details -->
<script type="text/ng-template" id="modalsProductDetails.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Do you want to add it to your cart?</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <product-details prodID="$ctrl.prodID" qty="$ctrl.qty"></product-details>
    </div>
    <div class="modal-footer" id="modal-footer">
        <button type="button" class="btn btn-defualt" ng-click="$ctrl.cancel()">Cancel</button>
        <button type="button" class="btn btn-success" ng-click="$ctrl.ok()">Add To Cart</button>
    </div>
</script>

